<mat-toolbar
  color="primary"
>
  <div class="d-flex align-items-center">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>UtopiaTech</span>
  </div>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/home"
        >Home</a
      >
      <a mat-list-item routerLinkActive="active" routerLink="/panel-table"
        >Panel Table</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="sidenav">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

